@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --green: #8bffb5; /* Pastelová zelená */
    --blue: #bf8bff; /* Pastelová modrá */
    --red: #ffd283; /* Pastelová červená */
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

body {
    margin: 0; /* Odstranění okrajů */
    background-color: #fff; /* Bílé pozadí */
    color: #000; /* Černá barva textu */
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#map {
    height: 100vh; /* Nastavení výšky na celou obrazovku */
    width: 100%;
    position: relative;
    z-index: 1;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Průhledné černé pozadí */
    /* padding-top: 60px; */
    animation: opacity 0.3s ease forwards;
}
.modal-content {
    background-color: #fefefe;
    /* margin: 5% auto; */
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #888;
    width: 400px;
    min-height: 100%;
    animation: slideInFromLeft 0.3s ease forwards;
}

.modal-content > p {
    font-size: 12px;
}

.close {
    width: 100%;
    text-align: right;
    font-size: 40px;
    cursor: pointer;
}

/* Můžete použít tyto proměnné ve vašem kódu */
.custom-pin {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.leaflet-div-icon {
    background: rgba(0, 0, 0, 0);
    border: 0px;
}

<<<<<<< Updated upstream
  .green-pin {
      background-color: var(--green);
  }

  .blue-pin {
      background-color: var(--blue);
  }

  .red-pin {
      background-color: var(--red);
  }
=======
.green-pin {
    background-color: var(--green);
    /* background: conic-gradient(rgba(255,255,255,0.5), var(--green));*/
}

.blue-pin {
    background-color: var(--blue);
    background: conic-gradient(rgba(255, 255, 255, 0.5), var(--blue));
}

.red-pin {
    background-color: var(--red);
    /* background: conic-gradient(rgba(255,255,255,0.5), var(--red)); */
}
>>>>>>> Stashed changes

.filter-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    z-index: 2;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.filter-btn {
    margin: 5px;
    padding: 5px 10px;
    border: 0px solid #ccc;
    cursor: pointer;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    border-radius: 200px;
    background-color: #ffffff;
}

.filter-btn:hover {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.logo {
    width: 250px;
    height: 62px;
    background-image: url(Logo_v01.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    filter: drop-shadow(0 0 0.75rem white);
    -webkit-filter: drop-shadow(0 0 0.75rem white);
}

p {
    font-size: 14px;
}

.describeModal {
    margin-top: 0;
    color: #979797;
    font-weight: 400;
}
.filterText {
    margin: 0;
    font-weight: 800;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .filter-container {
        max-width: 100%;
    }
    .modal {
        width: 100% !important;
    }
    .modal-content {
        width: 70% !important;
    }
}
